<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button routerLink='/second' routerDirection='forward'>
    Go to second page
  </ion-button>
  <ion-button (click)="tiger_alert()" color="danger">
    TIGER ALERT!
  </ion-button>

  
  <div class="ion-padding">
    <h1>Hello world</h1>
    <!-- <img src="https://via.placeholder.com/150"> -->
    <img src="https://via.placeholder.com/728x90.png">
    
    <!-- Inline styling with href -->
    <p style="color:red">Hello, my name is TAR<a target="_blank" href="https://www.mizi.my">MIZI</a> SANUSI</p>
    
    <!-- CSS folder styling -->
    <p class="tiger">
      Tiger Name
    </p>
  </div>
</ion-content>
